@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get weather forecast test</h1>
    <button onclick="GetWeatherForecast()">Get forecast!</button>
    <div id="weatherforecast-response"></div>
</div>
